
target/scala-2.12/ivy-0.1.0-SNAPSHOT.xml
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT-javadoc.jar
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT-sources.jar
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT.jar
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT.pom
target/scala-2.12/resolution-cache/default/project_shimpyo_2.12/0.1.0-SNAPSHOT/resolved.xml.properties
target/scala-2.12/resolution-cache/default/project_shimpyo_2.12/0.1.0-SNAPSHOT/resolved.xml.xml
target/scala-2.12/update/update_cache_2.12/inputs
target/scala-2.12/update/update_cache_2.12/output
target/streams/_global/_global/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/csrProject/_global/streams/out
target/scala-2.12/resolution-cache/default/project_shimpyo_2.12/0.1.0-SNAPSHOT/resolved.xml.properties
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT.pom
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT.jar
target/scala-2.12/project_shimpyo_2.12-0.1.0-SNAPSHOT-sources.jar
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/_global/_global/streams/out
target/scala-2.12/update/update_cache_2.12/output
target/scala-2.12/update/update_cache_2.12/inputs
target/scala-2.12/resolution-cache/default/project_shimpyo_2.12/0.1.0-SNAPSHOT/resolved.xml.xml
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/makePom/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/publishLocal/_global/streams/out
target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
target/streams/_global/update/_global/streams/out
target/streams/compile/_global/_global/compileOutputs/previous
target/streams/compile/_global/_global/discoveredMainClasses/data
target/streams/compile/bspReporter/_global/streams/out
target/streams/compile/compile/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/export
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/copyResources/_global/streams/copy-resources
target/streams/compile/copyResources/_global/streams/out
target/streams/compile/dependencyClasspath/_global/streams/export
target/streams/compile/doc/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/incOptions/_global/streams/out
target/streams/compile/internalDependencyClasspath/_global/streams/export
target/streams/compile/internalDependencyClasspath/_global/streams/out
target/streams/compile/mainClass/_global/streams/out
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/packageBin/_global/streams/out
target/streams/compile/packageBin/_global/streams/output
target/streams/compile/packageDoc/_global/streams/inputs
target/streams/compile/packageDoc/_global/streams/out
target/streams/compile/packageDoc/_global/streams/output
target/streams/compile/packageSrc/_global/streams/inputs
target/streams/compile/packageSrc/_global/streams/out
target/streams/compile/packageSrc/_global/streams/output
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/compile/doc/_global/streams/out
target/streams/compile/dependencyClasspath/_global/streams/export
target/streams/compile/copyResources/_global/streams/out
target/streams/compile/copyResources/_global/streams/copy-resources
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/export
target/streams/compile/compile/_global/streams/out
target/streams/compile/bspReporter/_global/streams/out
target/streams/compile/_global/_global/discoveredMainClasses/data
target/streams/compile/_global/_global/compileOutputs/previous
target/streams/compile/packageDoc/_global/streams/inputs
target/streams/compile/packageBin/_global/streams/output
target/streams/compile/packageBin/_global/streams/out
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/mainClass/_global/streams/out
target/streams/compile/internalDependencyClasspath/_global/streams/out
target/streams/compile/internalDependencyClasspath/_global/streams/export
target/streams/compile/incOptions/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/packageSrc/_global/streams/output
target/streams/compile/packageSrc/_global/streams/out
target/streams/compile/packageSrc/_global/streams/inputs
target/streams/compile/packageDoc/_global/streams/output
target/streams/compile/packageDoc/_global/streams/out
scalatra/.bsp/sbt.json
scalatra/.bsp/sbt.json
scalatra/.bsp/sbt.json
